{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Публикации пользователей на которых вы подписаны{% endblock %}
{% block content %}
  {% include 'posts/includes/switcher.html' with follow=True %}     
  <h1>Публикации пользователей на которых вы подписаны</h1>
  {% for post in page_obj %}
    {% include 'includes/post_list.html' with list_group=False with not_post_detail=True %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}